
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
.App {
  text-align: center;
  display:flex;
  justify-content: center;
  background-color: lightgrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.QuestionCard {
  width: 80%;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: left;
}
.questionTop {
  display: flex;
  justify-content: center;
  align-items: center;
 display:flex;
 justify-content: flex-start;
}
.questionTop p {
  margin-right: 7px;
}
.tanong {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}
.buttons{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.upVoteButton{
  cursor: pointer;
  background-color: none;
  z-index: 2;
}

.vote{
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 8px;
display: flex;
justify-content: center;
align-items: center;
padding: 2px;
}
.vote:hover{
 border-color:  green;
color: green
}

.questions {
  width: 40%;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  /* margin-left: 5%; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
}
.tabs {
  margin: 10px;
}

.answer {
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
margin-left: 5px;
}

.description {
display: flex;
justify-content: flex-start;
  margin-left: 5%;
}
.votes{
  color: red
}

.input{
  width: 400px;
  height: 70px;
  margin: 1%;
  font-size: 1.2rem;
  border-style: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
@media (max-width: 800px) {
  .input {
    width: 300px;
  }
  .questions {
    width: 100%;
  }
  .votes {
    height: 20px;
    width: 20px;
  }
  .QuestionCard{
    width: 100%;
  }
  .QuestionCard p {
    font-size: 12px;
  }
}

.inputBox{
display: flex;
align-items: center;
}
.questions img {
  width: 25px;
  height: 25px;
}
.title {
  display: flex;
}
.titleOne {
  color: #5DADE2;

}
.titleTwo {
  color: #E74C3C;
}
.inputButton {
  border: none;
}